  .iconci{
    height: 20px;
    width: 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 40px;
  }
  .iconci:hover{
    background-color: red;
  }
  /* .ratings{
    position:absolute ;
  } */