.header{
    display: flex;
    justify-content:space-around;
    padding-left:30px ;
    flex-wrap: wrap;
  }
.images-wooden {
  display: block;
  width: 200px;
  height: 200px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.images-wooden:hover {
  background-color: #ffcccc
}
.h1{
  text-align: center;  
}
.images-wooden{
  
    position: relative;
    display: inline-block;
    cursor: pointer;
    position:relative;
  }
  .title-price{
    text-align: center;
  }
  .more{
    align-items: center;

  }
  .innerdiv{
    display: flex;
    height: 200px;
    background-color:whitesmoke;
  }
  .ratingstar{
    display: flex;
    justify-content: center;
   margin: 0;
   padding-top: 0.25rem;
  }
  .data-header{
    margin: auto;
  
    width: 100%;
    max-width: 1000px;
    background-color:whitesmoke;
  }